.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 0;
}

.btn {
  padding: 2px 10px;
  display: block;
}

.arrow {
  font-size: 23px;
  fill: var(--color-text);
}

.arrow:hover,
.arrow:focus {
  fill: var(--color-accent);
}

.btnDisable {
  font-size: 25px;
  fill: var(--bg-item);
}
