.navigation {
  display: flex;
  gap: 30px;
}

.link {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 17px;
  }
}

.active {
  color: #d72323;
}
.link:hover,
.link:focus {
  border-bottom: 2px solid #d72323;
  transition: border-bottom 0.4s ease;
}
