.sliderContainer {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-bottom: 14px;

  scrollbar-color: #ededed #3a4750;
  scrollbar-width: thin;
}

.sliderContainer::-webkit-scrollbar {
  height: 8px;
}

.list {
  display: flex;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.movie {
  flex: 0 0 auto;
  width: 205px;
  scroll-snap-align: start;
  background-color: #3a4750;
  padding-bottom: 20px;
}

.movie:hover {
  text-decoration: underline;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.img {
  overflow: hidden;
  width: 100%;
  height: 160px;
}

@media (min-width: 320px) and (max-width: 360px) {
  .img {
    height: 140px;
  }
}

.title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  height: 56px;
}

.castNoImage {
  display: block;
  background-color: azure;
  font-size: 14px;
  text-align: center;
}

.sentinel {
  width: 1px;
  height: 100%;
}
