body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #303840;
  color: #ededed;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #ededed;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}
