.list {
  display: flex;
  margin-top: 48px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .list {
    gap: 20px;
  }
}

.item {
  width: calc((100% - 10px) / 2);
  background-color: var(--bg-item);
}

@media only screen and (min-width: 768px) {
  .item {
    width: calc((100% - 40px) / 3);
  }
}

@media only screen and (min-width: 1220px) {
  .item {
    width: calc((100% - 60px) / 4);
  }
}

.item:hover,
.item:focus .img {
  transform: scale(1.03);
  transition: transform 0.2s ease-in;
}

.posterNoWrap {
  width: 300px;
  height: 300px;
  background-color: var(--bg-main);
}

.imgNoPoster {
  width: 100%;
  height: 186px;
}

@media only screen and (min-width: 768px) {
  .imgNoPoster {
    height: 124px;
  }
}

@media only screen and (min-width: 1220px) {
  .imgNoPoster {
    height: 153px;
  }
}

.title {
  font-size: 12px;
  margin: 5px 0;
  text-align: center;
}

.titleDate {
  text-align: center;
  font-size: 10px;
  margin-bottom: 5px;
}

.movieNoPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-item);
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .movieNoPoster {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1220px) {
  .movieNoPoster {
    font-size: 14px;
  }
}
